  <script type="text/x-jquery-tmpl" id="clocking-tool-template">
    <div class="clocking-tool-inner">
      <div class="header">
        <div class="message-box"></div>
        <div class="popout"></div>
        <div class="ajax-loading" style="display:none;"></div>
      </div>
      <div class="form-container">
        <form action="${ formUrl }" class="" method="post">
          <p>
            <select class="project_id" name="project_id">
            </select>
          </p>
          <p class="issue-fields">
            <input class="time_entry_issue_id" name="time_entry[issue_id]" type="hidden">
            <input class="issue_search" name="issue_search" type="text" placeholder="--- Issue search ---">
            <img alt="Refresh" class="refresh-data" src="${ refreshImage }" height="16" width="16">
          </p>
          <p>
            <select class="time_entry_activity_id" name="time_entry[activity_id]">
            </select>
          </p>
          <p class="hours-section">
            <input class="time_entry_hours" name="time_entry[hours]" size="3" type="text" placeholder="0:00">
            <input id="time_entry_spent_on_${ randomId }" class="time_entry_spent_on" name="time_entry[spent_on]" size="10" type="text" value="${ today }">
            <img alt="Calendar" id="time_entry_spent_on_${ randomId }_trigger" class="calendar-trigger time_entry_spent_on_trigger" src="/images/calendar.png?1323882096" height="16" width="16" style="float: right;"><br>
            <a class="formatting-help" href="${ helpUrl }">Formatting Help</a>
          </p>
          <p style="clear:left;">
            <input class="time_entry_comments" name="time_entry[comments]" type="text" placeholder="--- Describe what you did here.---">
          </p>

          <p>
            <input name="commit" type="submit" value="Save">
            <a class="jump-to-issue" href="#">Go to this issue...</a>
          </p>
        </form>

      </div>
      <div class="issues-container">
        <h3>Recent Issues</h3>
        <ul class="issue-results">
        </ul>
      </div>
    </div>
  </script>
