div#clocking-tool { background: #277D94; height: 300px; width: 500px; }
div.clocking-tool-inner { border: 10px solid #277D94; background: #FFFFFF; height: 100%; width: 100%; }
div.clocking-tool-inner { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; 
-moz-border-bottom-left-radius: 5px; -moz-border-bottom-right-radius: 5px; 
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
div.clocking-tool-inner .header .message-box { margin: 5px; padding: 5px; width: auto; width: 90%; }
/* For flash messages */
.message-box { background: #EEEEEE; border: 1px solid #DDD; }
div.clocking-tool-inner .header .message-box.flash { padding-left: 30px; }
div.clocking-tool-inner .header .popout { float: right; position: relative; left: -5px; top: -31px; background: #277D94; padding: 5px; color: white; border: 1px solid #000; }
div.clocking-tool-inner .header .popout { display: none; } /* Hide by default, embed will override */
div.clocking-tool-inner .header .popout a { color: white; }
div.clocking-tool-inner .header .popout a:hover { text-decoration: none; }
div.clocking-tool-inner .form-container { float: left; margin: 0 5px;}
div.clocking-tool-inner .recent-container {float: right; width: 50%; position: relative; top: -15px; }
div.clocking-tool-inner .recent-container ul {padding-left: 0; list-style: none; background: #DDDDDD; }
div.clocking-tool-inner .recent-container ul li { padding: 2px 5px; border-bottom: 1px solid #BBBBBB; }
div.clocking-tool-inner select { width: 100%; }
div.clocking-tool-inner .issue-fields, div.clocking-tool-inner .time_entry_comments { width: 100%; }
div.clocking-tool-inner .time_entry_hours { font-size: 40px; text-align:center;float:left; }
div.clocking-tool-inner a.jump-to-issue { float:right; padding: 4px 0; }
div.clocking-tool-inner .recent-issues { max-height: 200px; overflow-y: auto; }
div.clocking-tool-inner .search-results { position: absolute; width: 600px; background: white; z-index: 100; margin: -15px 0 0 0; padding: 0; border: 1px solid #000; }
div.clocking-tool-inner .search-results ul { list-style-type: none; margin: 0; padding: 0; max-height: 400px; overflow-y: auto; }
div.clocking-tool-inner .search-results ul li { padding: 0px; cursor: pointer; border: 1px solid #DDDDDD; clear: left; }
div.clocking-tool-inner .search-results ul a:hover { background-color: #ffb; } 
div.clocking-tool-inner .search-results ul li span { border-right: 1px solid #000000; padding-right: 5px; margin-right: 5px; display: inline-block; float: left; height: 14px; overflow-y: hidden; }
div.clocking-tool-inner .search-results ul li span.issue-id { width: 40px; }
div.clocking-tool-inner .search-results ul li span.issue-subject { width: 300px; }
div.clocking-tool-inner .search-results ul li span.project-name { border-right: none; }
div.clocking-tool-inner .ajax-loading { background-image: url(/images/loading.gif); width: 16px; height: 16px; position: relative; float: right; left: -10px; top: -25px; }
div.clocking-tool-inner .refresh-data { float: right; }
div.clocking-tool-inner .hours-section { padding-bottom: 15px; }
div.clocking-tool-inner .formatting-help { margin-left: 10px; }

/* Follow rules only happens when embedded */
#clocking-tool.embed { position: absolute; top: 23px; right: 40px; }
#clocking-tool.embed p { margin: 12px 0; }
#clocking-tool.embed div.clocking-tool-inner .header .popout { display: block; top: -35px; }
